<%= form_with(model: church, local: true) do |form| %>
  <% if church.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(church.errors.count, "error") %> prohibited this church from being saved:</h2>

      <ul>
        <% church.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
