<%= form_with(model: ministry, local: true) do |form| %>
  <% if ministry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ministry.errors.count, "error") %> prohibited this ministry from being saved:</h2>

      <ul>
        <% ministry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :church_id %>
    <%= form.text_field :church_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
