<p id="notice"><%= notice %></p>

<h1>Ministries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Text</th>
      <th>Date</th>
      <th>User</th>
      <th>Church</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ministries.each do |ministry| %>
      <tr>
        <td><%= ministry.title %></td>
        <td><%= ministry.description %></td>
        <td><%= ministry.picture %></td>
        <td><%= ministry.text %></td>
        <td><%= ministry.date %></td>
        <td><%= ministry.user_id %></td>
        <td><%= ministry.church_id %></td>
        <td><%= link_to 'Show', ministry %></td>
        <td><%= link_to 'Edit', edit_ministry_path(ministry) %></td>
        <td><%= link_to 'Destroy', ministry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ministry', new_ministry_path %>
